.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.button,
.ziro,
.operator {
  font-size: 1.5rem;
  padding: 1.6rem 4rem;
  background-color: lightgray;
  border: 1px solid rgb(156, 175, 182);
  cursor: pointer;
  transition: 0.2s ease;
}

.button:hover {
  background-color: #ffffffc5;
}

.ziro {
  grid-column-start: 1;
  grid-column-end: 3;
}

.operator {
  background-color: rgb(247, 129, 86);
  transition: 0.2s ease;
}

.operator:hover {
  background-color: rgb(250, 99, 44);
}
