.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: red;
  font-size: 3rem;
  font-weight: 700;
  height: calc(100vh - 4rem);
  background-color: black;
  padding-bottom: 15rem;
  gap: 5%;
}

.msg {
  border: 3px solid red;
  padding: 1rem;
  border-radius: 10px;
}

.invalid {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}
