* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 0;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.calculator-container .result {
  height: 5rem;
  color: #fff;
  font-size: 3rem;
  align-self: self-end;
  padding: 0.2rem;
  width: auto;
}

.calculator-container .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calculator-container .buttons button {
  font-size: 1.5rem;
  padding: 1.6rem 4rem;
  background-color: lightgray;
  border: 1px solid rgb(156, 175, 182);
  cursor: pointer;
  transition: 0.2s ease;
}

.calculator-container .buttons button:hover {
  background-color: #ffffffc5;
}

.calculator-container .buttons .ziro {
  grid-column-start: 1;
  grid-column-end: 3;
}

button.button.operator {
  background-color: rgb(247, 129, 86);
  transition: 0.2s ease;
}

button.button.operator:hover {
  background-color: rgb(250, 99, 44);
}

.display-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(156, 175, 182, 0.432);
  width: 40%;
  padding: 2rem;
}

.author {
  color: orangered;
}
